{% extends 'base.html.twig' %}

{% block title %}Nouveautés{% endblock %}

{% block body %}
<br>
<br>
<br>
<div class='container'>
    <h1 id='titre'>Nouveautés</h1>

    <div class="row2">
                {% for articles in nouveautes %}
    
        <div class="card m-3" style="width: 18rem;">
            {# <img class="img-size-little" src="/image/upload/{{goody.image}}" alt="image"></td> #}
            <div class="card-body">
                <h5 class="card-title">{{ articles.slug }}</h5>
                <h5 class="card-title">{{ articles.titre }}</h5>
                <p class="card-text">{{ articles.article }}</p>
                <p class="card-text">{{ articles.date ? articles.date|date('Y-m-d H:i:s') : '' }}</p>
                <p class="card-text">L'auteur est :<br> {{ articles.auteur }}</p>
                <a href="{{ path('articles_show', {'id': articles.id}) }}">show</a>
                
            </div>
        </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        {# </tbody>
    </table> #}
    </div>
</div>
    
{% endblock %}
