{% extends 'base.html.twig' %}

{% block title %}Tower of God {% endblock %}

{% block body %}
<br>
<br>
<br>
<div class='container'>
    <h1 id='titre'>Goodies Tower of God</h1>

    <div class="row2">
                {% for goody in towers %}
    
        <div class="card m-3" style="width: 18rem;">
            <img class="img-size-little" src="/image/upload/{{goody.image}}" alt="image"></td>
            <div class="card-body">
                <h5 class="card-title">{{ goody.name }}</h5>
                <p class="card-text">{{ goody.description }}</p>
                <p class="card-text">Le prix est :<br> {{ goody.price }} €</p>
                <a href="{{ path('goodies_show', {'id': goody.id}) }}">show</a>
                <a href="{{ path('cart_add' , {'goodies' : goody.id}) }}">add to basket</a>
            </div>
        </div>
    
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </div>
</div>
    

{% endblock %}
