{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
<br>
<br>
<br>
<div class='container'>
    <h1 id='titre'>Articles</h1>

    <div class="row2">
                {% for article in articles %}
    
        <div class="card m-3" style="width: 18rem;">
            {# <img class="img-size-little" src="/image/upload/{{goody.image}}" alt="image"></td> #}
            <div class="card-body">
                <h5 class="card-title">{{ article.slug }}</h5>
                <h5 class="card-title">{{ article.titre }}</h5>
                <p class="card-text">{{ article.article }}</p>
                <p class="card-text">{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</p>
                <p class="card-text">L'auteur est :<br> {{ article.auteur }}</p>
                <a href="{{ path('articles_show', {'id': article.id}) }}">show</a>
                
            </div>
        </div>
    
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </div>
    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('articles_new') }}">Create new</a>
    {% endif %}
</div>
    
{% endblock %}
