{% extends 'base.html.twig' %}

{% block title %}Goodies index{% endblock %}

{% block body %}
<br>
<br>
<br>
<div class="container">
    <h1 id='titre'>Goodies </h1>

    <a class="btn btn-info btn-lg" href="{{ path('goodies_new') }}">Create new</a>
<div class="row2">
                {% for goody in goodies %}
    
        <div class="card m-3" style="width: 18rem;">
            <img class="img-size-little" src="/image/upload/{{goody.image}}" alt="image"></td>
            <div class="card-body">
                <h5 class="card-title">{{ goody.name }}</h5>
                <p class="card-text">{{ goody.description }}</p>
                <p class="card-text">Le prix est :<br> {{ goody.price }} €</p>
                <a href="{{ path('goodies_show', {'id': goody.id}) }}">show</a>
                <a href="{{ path('goodies_edit', {'id': goody.id}) }}">edit</a>
            </div>
        </div>
    
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        {# </tbody>
    </table> #}
    </div>
    

    
    </div>
{% endblock %}
