{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
<br>
<br>
<br>
<div class='container'>
    <h1>Commandes</h1>

    <h2>Resumé du panier</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
        {% for row in cartGoodies %}
            <tr>
                <td>{{ row.goodies.name }}</td>
                <td>{{ row.goodies.price}} €</td>
                <td>{{ row.quantity }} </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Panier vide</td>
            </tr>
        {% endfor %}
        <tr>
                <td colspan="2">Total:</td>
                <td>{{ total }} €</td>
            </tr>
        </tbody>
    </table>

    <h2>Delivery adress</h2>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-warning">{{ button_label|default('Confirm and Pay') }}</button>
{{ form_end(form) }}
</div>
{% endblock %}
