{% extends 'base.html.twig' %}

{% block title %}Information sur votre profil{% endblock %}

{% block body %}


    <h1>Liste des utilisateurs</h1>
    {# <ul>
        {% for user in users %}
            <a href="/user/edit/{{ user.id }}">
                <li>{{ user.id }}. {{ user.lastname }} {{ user.firstname }} - {{ user.email }} </li>
            </a>
        {% endfor %}
    </ul>

    <a href="/user/add" class="btn btn-primary">Ajouter un utilisateur</a> #}



     

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Adress</th>
                <th>Phone</th>
                <th>Speudo</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ app.user.firstname }}</td>
                <td>{{ app.user.lastname }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.adress }}</td>
                <td>{{ app.user.phone }}</td>
                <td>{{ app.user.speudo }}</td>
                <td>{{ app.user.picture }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a> 
{% endblock %}
